<div id="battle-ground">

  <div id="enemy-window">
    <%= image_tag("", id: "enemy") %>
  </div>

  <div class="window" id="announce">
    <div id="battle-text">
    </div>

    <div id="command-index">
      <ul class="command-list">
        <li id="command-attack">こうげき</li>
        <li id="command-skill">わざ</li>
        <li id="command-escape">逃げる</li>
      </ul>
      <ul class="command-list">
        <li id="command-defence">ぼうぎょ</li>
        <li id="command-item">どうぐ</li>
      </ul>        
    </div>
  </div>

  <div id="life-display">
    生命力: <span id="life-value"></span>
  </div>
</div>