<div class="home-wrapper">
  <div class="container column">
    <% if logged_in? %>
      <%= link_to "ゲームスタート", route_path, class: "gamestart" %>
    <% else %>
      <%= link_to "ユーザー登録してゲームを始める", new_user_path, class: "signup" %>
      <%= link_to "アカウントをお持ちの方はこちら", login_path, class: "signin" %>
    <% end %>
  </div>
</div>
