.new{
  flex-direction: column;
  div{
    display: flex;
    flex-direction: column;
    input{
      height: 28px;
      font-size: 16px;
    }
  }
  .submit{
    margin: 20px auto;
    width: 50%;
  }
}