.start-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    color: red;
    display: none;
  }
}

.start-form{
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.input_area{
  margin-right: 10px;
}

.bonus-input{
  height: 30px;
  width: 100px;
  font-size: 16px;
  box-shadow: 2px 2px;
  border-radius: 2px;
  border: 1px solid black;
}
#submit{
  margin-top: 20px;
  height: 40px;
  width: 100px;
  position: relative;
  left: -5px;
}

h2{
  margin-bottom: 0;
}
h5{
  margin: 0;
  font-weight: normal;
}
h4{
  margin-bottom: 7px;
}
h6{
  margin: 10px 0 0;
}